<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.backend.mapper.ContractMapper">
    <insert id="insert">
        INSERT INTO contract (code, goodsId, retailer_id, create_time)
        VALUES (#{code}, #{goodsId}, #{retailer_id}, #{create_time})
    </insert>

    <delete id="delete" parameterType="org.example.backend.entity.po.Contract">
        delete
        from contract
        where goodsId = #{goodsId}
          and retailer_id = #{retailer_id}
    </delete>

    <update id="update" parameterType="org.example.backend.entity.po.Contract">
        update `contract`
        <set>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="goodsId != null">
                goodsId = #{goodsId},
            </if>
            <if test="retailer_id != null">
                retailer_id = #{retailer_id},
            </if>
            <if test="create_time != null">
                create_time = #{create_time},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectAll" resultType="org.example.backend.entity.po.Contract">
        select *
        from contract
    </select>

    <select id="selectByRetailAndGoodsId" parameterType="org.example.backend.entity.po.Contract"
            resultType="org.example.backend.entity.po.Contract">
        select *
        from `contract`
        where goodsId = ${goodsId}
          and retailer_id = #{retailer_id}
    </select>
</mapper>
